* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
}

.central {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: LightGrey;
}

.container {
    display: flex;
    flex-direction: column;
    border: 2px solid Crimson;
    height: 60%;
    width: 60%;
    background-color: FloralWhite;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid Crimson;
    height: 15%;
    padding: 2%;
}

.header_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid Crimson;
    height: 8%;
    padding: 1%;
}

form {
    font-size: 120%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 1%;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 50%;
}

button {
    background-color: Crimson;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    height: 50px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: DarkRed;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas */
    grid-template-rows: auto auto; /* As linhas se adaptam ao conteúdo */
    width: 100%;
}

.grid-item {
    background-color: DarkRed;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 3px solid black;
}
